.perfilenv .row{
    display: flex;
}

.perfilenv .row .col1{  
    width: 70%;
}
#titulo{
    font-family: 'Big Shoulders Display', cursive; 
    font-size: 80px;
}

.text{
    font-size: 15px;
}

h1{
    font-family: 'Big Shoulders Display', cursive; 
    font-size: 40px;
    padding: 30px;
    color:#2063ab  
}

h3{
    font-family: 'Big Shoulders Display', cursive; 
    font-size: 20px;
    color:#2063ab  
}

h4{
    font-size: 13px;
}

.row .text{
    font-family: 'Big Shoulders Display', cursive; 
    font-size: 20px;
    color:#2063ab  
}

@media(max-width: 300px){
    .perfilenv .row{
        width: 80%;
        margin: 100px auto;
        display: block; /*Acomodo uno debajo del otro(las img bajo las letras)*/
    }
}